<h2>Můj boj. Hitler o sobě a o svých cílech. – Zpracoval Dr. Fr. Bauer, Praha, Orbis 1936.</h2>
<p>Bauerově zpracování této bible německého národního socialismu nutno přiznat cennou originalitu. Vydavatel dobře věděl, že pouhý překlad Hitlerovy knihy by byl pro českého čtenáře nezáživný, jednak pro množství materiálu jemu lhostejného, jednak pro nečasovost celých dlouhých partií. […] Autor tedy ony pasáže „Mého boje“, s nimiž našeho čtenáře seznámit pokládá za účelné, podává v převodu, kterým je činí srozumitelnějšími. Ale český pořadatel nezatajil při vydání ani své stanovisko demokratického komentátora vůdcova díla. Komentáře, často velmi kritické, ale vždy věcné faktické poznámky, uvádí pod čarou, takže jeho odstup od vlastního textu je všude jasně znatelný.</p>
